/node_modules
/public/hot
/public/storage
/public/student/avatars
/public/student/works
/public/teacher/avatars
/public/teacher/works
/public/site
/storage/*.key
/vendor
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
